main {
    margin: 2% 0;
}

.maleft2 {
    margin-left: 2%;
}

patop2 {
    padding-top: 2%;
}

@media (max-width: 576px) {
    h1 {
        font-size: 4em;
    }
    
    h3 {
        font-size: 4em;
    }
}

